@font-face {
    font-family: Roboto, monospace;
    src: url(../../../Downloads/Fonts/Roboto/);
}

:root {
    --header: 3rem;
    --footer: 40px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

body {
    margin: 0;
	padding: 0;
	border: 0px solid transparent;
	background: #7a7a7a;

}

#container > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	height: var(--header);
	background: #111111;
}
#mainContent {
	height: var(--main);
	background: #343434;
	margin-right: auto;
	margin-left: auto;
}
#footer {
	height: var(--footer);
	background: #232323;
}

#container2 {
	display: flex;
  box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 6px solid black;
	resize: both;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

#iconHolder {
	width: min(150px, 100%);
	height: min(150px, 100%);
  box-sizing: border-box;
  border: 6px solid blue;
}
