
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: larger;

}

form {
    display: flex;

    width: 600px;
    height: auto;
}

fieldset {
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
}

legend {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    font-weight: 700;
    font-size: 1.2em;
}

div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

label {
    margin-bottom: 0;
    line-height: 2;
}

input {
    padding: 10px;
    width: 100%;
}

input:required {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

input:optional {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
}

input:hover,
input:focus {
    background-color: rgba(236, 233, 233, 0.9);
}

.btn {
    display: flex;
    justify-content: center;
}

button  {
    font-size: inherit;

    width: 50%;
}

button:hover {
    cursor: pointer;
}
