.container1 {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.item {
    background-color: cyan;
    border: 1px solid black;
    text-align: center;  
}

.first-row {
    background-color: palevioletred;
}

.last-column {
    background-color: purple;
}

.container2 {
    display: inline-grid;
    grid-template: 100px 100px 100px 100px 100px  100px / 100px 100px 100px 100px 100px;
    background-color: lightblue;
    grid-template-areas:
    "living-room living-room living-room living-room living-room"
    "living-room living-room living-room living-room living-room"
    "bedroom bedroom bathroom kitchen kitchen"
    "bedroom bedroom bathroom kitchen kitchen"
    "closet closet bathroom kitchen kitchen" 
    "closet closet . . ."   
}

.room {
    border: 1px solid black;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-area: 1 / 1 / 3 / 6;
}

#kitchen {
    grid-column: 4 / 6;
    grid-row: 3 / 6;
}

#bedroom {
    grid-column: 1 / 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

#bathroom {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

#closet {
    grid-area: closet;;
}