
body {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: monospace;

}


/* Rule to have font and text appearance consistent */

button, 
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

/* Rule to have box sizing consistent */

button,
input,
select,
textarea {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}